<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="../static/css/sign/main.css">
  <link rel="stylesheet" href="../static/css/sign/signup.css"> -->
  <script src="https://kit.fontawesome.com/fbd5dbe7de.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/sign/main.css}">
  <link rel="stylesheet" th:href="@{/css/sign/signup.css}">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <span><i class="fas fa-lock-open-alt"></i></span>
      <span>s i g n   u p</span>
    </div>
    <div class="content">
      <form th:action="@{/signin/signup/save}" th:object="${userVO}" th:method="post">
        <div class="id-container">
          <p>id</p>
          <div class="input-container">
            <input id="id" type="text" th:field="*{id}">
            <div class="icons">
              <span class="icon1 fas fa-check"></span>
              <span class="icon2 fas fa-exclamation"></span>
            </div>
          </div>
          <div class="error-text">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
        <div class="pwd-container">
          <p>password</p>
          <div class="input-container">
            <input id="pwd" type="password" th:field="*{password}">
            <div class="icons">
              <span class="icon1 fas fa-check"></span>
              <span class="icon2 fas fa-exclamation"></span>
            </div>
          </div>
          <div class="error-text">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
          <p>retyphing password</p>
          <div class="input-container">
            <input id="retyphing" type="password">
            <div class="icons">
              <span class="icon1 fas fa-check"></span>
              <span class="icon2 fas fa-exclamation"></span>
            </div>
          </div>
          <div class="error-text">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
        <div class="email-container">
          <p>email</p>
          <div class="input-container">
            <input id="email" type="email" th:field="*{email}">
            <div class="icons">
              <span class="icon1 fas fa-check"></span>
              <span class="icon2 fas fa-exclamation"></span>
            </div>
          </div>
          <div class="error-text">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
        <div class="birthdate-container">
          <p>birthdate</p>
          <div class="input-container">
            <input id="date" type="date" th:field="*{birthDate}">
            <div class="icons">
              <span class="icon1 fas fa-check"></span>
              <span class="icon2 fas fa-exclamation"></span>
            </div>
          </div>
          <div class="error-text">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
        <div class="nickname-container">
          <p>nickname</p>
          <div class="input-container">
            <input id="nickname" type="text" th:field="*{userName}">
            <div class="icons">
              <span class="icon1 fas fa-check"></span>
              <span class="icon2 fas fa-exclamation"></span>
            </div>
          </div>
          <div class="error-text">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
        <button type="submit">register</button>
      </form>
    </div>
  </div>
  <div class="container-shadow"></div>
  <!-- <script src="../static/js/sign/sign.js"></script>
  <script src="../static/js/sign/regExp.js"></script> -->
  <script th:src="@{/js/sign/sign.js}"></script>
  <script th:src="@{/js/sign/regExp.js}"></script>
</body>
</html>