<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		 <link rel="stylesheet" th:href="@{/css/board.css}">
		<script src="https://kit.fontawesome.com/fbd5dbe7de.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
	<header>
		<a th:href="@{/signin}"><i class="fas fa-door-open"></i></a>
	</header>
	<div class="navbar">
		<nav>

		</nav>
	</div>
  <div class="board">
    <div class="board_list">
      <table>
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>닉네임</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="list : ${boardList}">
            <td th:text="${list.idx}"></td>
            <td th:text="${list.boardTitle}"></td>
            <td th:text="${list.userName}"></td>
            <td th:text="${list.postingDate}"></td>
            <td th:text="${list.views}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <ul>
        <li class="btn prev" th:if="${1 != boardList.pageable.pageNumber + 1}">
          <a th:href="@{/board(page=${boardList.pageable.pageNumber - 1})}"><span><i class="fas fa-angle-left"></i> Prev</span></a>
        </li>
        <a th:href="@{/board(page=${0})}">
          <li class="firstPage numb" th:if="${3 < boardList.pageable.pageNumber + 1}">
            <span th:text="${1}"></span>
          </li>
        </a>
        <li class="dots" th:if="${3 < boardList.pageable.pageNumber}">
          <span>...</span>
        </li>
        <th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
          <a th:href="@{/board(page=${i - 1})}">
            <li class="numb" th:classappend="${i == boardList.pageable.pageNumber + 1} ? 'disabled active'">
              <span th:text="${i}"></span>
            </li>
          </a>
        </th:block>
        <li class="dots" th:if="${boardList.pageable.pageNumber + 1 < boardList.totalPages - 3}">
          <span>...</span>
        </li>
        <li class="lastPage numb" th:if="${boardList.pageable.pageNumber + 1 < boardList.totalPages - 2}">
          <a th:href="@{/board(page=${boardList.totalPages - 1})}"><span th:text="${boardList.totalPages}"></span></a>
        </li>
        <li class="btn next" th:if="${boardList.totalPages != boardList.pageable.pageNumber + 1}">
          <a th:href="@{/board(page=${boardList.pageable.pageNumber + 1})}"><span>Next <i class="fas fa-angle-right"></i></span></a>
        </li>
      </ul>
    </div>
    <div class="searchAndWrite">
      <form action="">
        <select class="term" name="" id="">
          <option value="">전체기간</option>
          <option value="">1일 전</option>
          <option value="">일주일 전</option>
          <option value="">한달 전</option>
          <option value="">6개월 전</option>
        </select>
        <select class="search_word" name="" id="">
          <option value="">제목 + 내용</option>
          <option value="">제목</option>
          <option value="">내용</option>
          <option value="">작성자</option>
          <option value="">최고 조회수</option>
        </select>
        <input type="text">
        <input type="submit" value="검색">
        <span class="writeBtn"><a th:href="@{/write}">글쓰기</a></span>
      </form>
    </div>
  </div>
 <script th:src="@{/js/pagination.js}"></script>
</body>
</html>